<div class="box has-text-white" style="background: rgba(0, 0, 0, 0.85); border-radius: 50px; padding:25px">
  <center>
    <p class="title has-text-white">Registration</p>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :username, class:"label has-text-white" %><br />
        <%= f.text_field :username, autofocus: true, autocomplete: "username", class:"input",type:"text" %>
      </div><br />

      <div class="field">
        <%= f.label :email, class:"label has-text-white" %><br />
        <%= f.email_field :email, autocomplete: "email", class:"input", type:"email"  %>
      </div><br />

      <div class="field">
        <%= f.label :password, class:"label has-text-white" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password",class:"input",type:"password" %>
      </div><br />

      <div class="field">
        <%= f.label :password_confirmation, class:"label has-text-white" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"input",type:"password" %>
      </div><br />

      <div class="actions">
        <%= f.submit "Join!", class:"button is-success is-outlined" %>
      </div><br />
    <% end %>

    <%= render "devise/shared/links" %>

  </center>
</div>