<div class="box" style="background: rgba(0, 0, 0, 0.85); border-radius: 50px; padding:55px">

  <center>
    <p class="title" style="color:white">Account Panel</p>
    <br>
    <div class="box">
      <p>User name: </p><br />
      <p> <%= resource.username %> </p>
    </div>

    <div class="box">
      <p>Email address: </p><br />
      <p> <%= resource.email %> </p> 
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    
    <div class="box">
      <h2>Actions:</h2>
      <%= button_to "Edytuj", edit_user_registration_path, class:"button is-link is-outlined" %>
    </div>


    <div class="box is-danger">
      <h3>Cancel my account</h3>
      <p><%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button is-danger is-outlined" %></p>
    </div>  
    
    <%= link_to "Back", :back %>  
  </center>
</div>
