
      <%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  
        <% if @article.comments.build.errors.any? %>
          <div id="error_explanation">      
            <h2><%= pluralize(@article.comments.build.errors.count, "error") %> prohibited this comment from being saved:</h2>
            <ul>
              <% @article.comments.build.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
          <p></p>
          <article class="media">
            <div class="media-left">
              <p class="image is-64x64">
                <%= image_tag "AnonymousCommenter2.png"%>
              </p>
            </div>
            <div class="media-content">
              <div class="field">
                <div class="control">
                  <%= form.text_field :commenter, class: "input is-small", placeholder: "Nick/Name" %>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <%= form.text_area :body, class: 'textarea is-link is-small', placeholder: "Treść komentarza...", rows: "4"%>
                </div>
              </div>
              <div class="field">
                <p class="control">
                  <%= form.submit "Opublikuj", class: "button is-small"%>
                </p>
              </div>
            </div>
          </article>
      <% end %>
